* {
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
  padding: 15px 30px;
  box-shadow: 0px 1px 8px rgb(182, 182, 182);
}
.logo {
  width: 300px;
}
nav {
  display: flex;
  gap: 20px;
}
.nav-links {
  padding: 10px;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}
.nav-links:hover {
  color: #006838;
  font-size: 1.21rem;
}

/* FIRST-SECTION */
.first-sec {
  display: flex;
  padding: 50px 50px;
}
.first-sec-heading-and-para {
  margin: 40px 20px 0 0;
  text-align: justify;
}

.first-sec-heading {
  font-size: 1.8rem;
  color: #006838;
}
.first-sec-para {
  color: #718096;
  word-spacing: 0.1rem;
  line-height: 1.3rem;
  font-size: 1rem;
  margin: 0%;
}
.first-sec-img {
  width: 600px;
}

/* SECOND SECTION  */
.second-sec {
  display: flex;
  padding: 50px 50px;
  align-items: center;
  box-shadow: 0px 4px 10px rgb(182, 182, 182);
}

.second-sec-heading-and-para {
  margin: 0px 0px 0px 80px;
  text-align: justify;
}

.second-sec-heading {
  line-height: 38px;
  font-size: 1.8rem;
  color: #006838;
}

.second-sec-para {
  color: #718096;
  word-spacing: 0.1rem;
  line-height: 1.3rem;
  font-size: 1rem;
  margin: 0%;
}

.second-sec-img {
  width: 600px;
  margin-top: 10px;
}

/* THIRD SECTION  */
.third-sec {
  padding: 80px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.third-sec-heading {
  font-size: 2.5rem;
  color: #006838;
}

.third-sec-img {
  width: 300px;
  border-radius: 300px;
  margin-bottom: 15px;
}

.third-sec-para {
  width: 700px;
  color: #718096;
  word-spacing: 0.3rem;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0%;
}

/* FOURTH SEC  */
.fourth-sec {
  padding: 50px 50px;
  box-shadow: 0px 4px 10px rgb(182, 182, 182);
}

.fourth-sec-heading {
  font-size: 2.5rem;
  color: #006838;
  text-align: center;
}

.fourth-sec-sub-heading {
  font-size: large;
}

.fourth-sec-three-cont,
.fourth-sec-two-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0px 40px;
  padding: 30px;
}

.fourth-sec-grand-child {
  width: 280px;
  text-align: center;
  text-transform: capitalize;
}

.fourth-sec-imgs {
  width: 280px;
  height: 250px;
}

/* FIFTH SECTION  */
.fifth-sec {
  padding: 50px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(189, 189, 189);
}

.fifth-sec-heading {
  font-size: 2.5rem;
  color: #006838;
}

.fifth-sec-first-child {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.fifth-sec-second-child {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 510px;
  height: 500px;
}

/* SIXTH SECTION  */

.sixth-sec {
  border-bottom: 2px solid rgb(189, 189, 189);
}

.sixth-sec-heading {
  text-align: center;
  font-weight: bold;
  color: #718096;
}

.sixth-sec-first-child {
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
}
form {
  box-shadow: 2px 2px 8px gray;
  padding: 15px 50px;
}
input {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px gray solid;
  outline: none;
}
label {
  color: #718096;
  margin: 25px 0px 5px 0px;
  display: block;
  font-size: 0.8rem;
}
.sixth-sec-btn {
  display: block;
  width: 320px;
  margin-top: 20px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  background-color: #006838;
  color: white;
  font-size: 1rem;
}
.sixth-sec-btn:hover {
  color: #006838;
  background-color: rgb(255, 243, 230);
}
/* FOOTER  */

.footer-first-child {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
}
.footer-img {
  width: 230px;
}

.footer-first-child-heading {
  color: #718096;
  margin: 0%;
}

.footer-links {
  display: block;
  font-size: 0.9rem;
  color: #006838;
  line-height: 1.5rem;

  text-decoration: none;
}
.footer-links:hover {
  color: #718096;
}

.footer-second-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 245, 234);
  padding: 12px 200px;
  color: #718096;
}
